<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">
    
    <title>Table Display</title>
  </head>
  <body>
    <h1>Samples Table</h1>
    <table class="table table-sm table-bordered table-hover table-dark">
    	<thead>
    	<tr>
    		<% for (var property in samples[0]) {
    			if (samples[0].hasOwnProperty(property)) { %>
    		<th><%=property%></th>
    		<%	}
    		   } %>
    	</tr>
    	</thead>
    	<tbody>
    		<% for(var i=0; i<samples.length;i++) { %>
    		<tr>
	    		<% for (var property in samples[i]) {
	    			if (samples[i].hasOwnProperty(property)) { %>
    			<td><%=samples[i][property]%></td>
	    		<%	}
	    		   } %>
    		</tr>
    		<% } %>
    	</tbody>
    </table>
    
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
  </body>
</html>